*.pyc
*.egg-info
*.db
*.db.old
*.swp
*.db-journal

.coverage
.DS_Store
.installed.cfg
_gh_pages/*

.idea/*
.svn/*
src/website/static/*
src/website/media/*

bin
cfcache
develop-eggs
dist
downloads
eggs
parts
tmp
.sass-cache
node_modules

src/website/settingslocal.py
stunnel.log

.ruby-version
.bundle

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
